@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root,
#layout,
#guestLayout {
    min-height: 100vh;
}
.notice{
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right:auto ;
    width: 50%;
    color: #838383;
    text-align: center;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fffdfd;
    background-color: #f6f6f6;
}

input {
    outline: 3px;
    background: #ffffff;
    width: 100%;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    transition: all 0.3s;
}
input:focus {
    border-color: #FFBF75;
}

/* buttons */
.btn { 
    
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #FFBF75 ;
    border: 0;
    border-radius: 5px;
    text-decoration: none;
    padding: 2px;
    color: #392727;
    font-size: 16px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.btn-edit{
    margin-top: 40px;
}
.btn-search{
    padding: 2px;
    border-radius: 5px;
    background-color: #FFBF75;
}
.btn-submit{
    padding: 2px;
    border-radius: 5px;
    background-color: #FFBF75;
}

header{
    position: fixed;
}

.btn-block {
    width: 100%;
}
.btn:hover {
    background: #f8b568;
}
.text-center {
    text-align: center;
}
.userData{
    color: #000;
    text-align: center;
     align-content: center;
}

.btn-logout {
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: #023047;
    transition: all 0.3s;
    border-radius: 6px;
}
.btn-logout:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
/* alert */
.alert {
    padding: 1rem;
    text-decoration: underline;
    color: red;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
/* logo */

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 

}
.title{
     font-size: 18px;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: left;
}
.sikshya{
     font-size: 20px;
    margin-bottom: 1rem;
    margin-left: 2rem;
    color: #F49F1C;
    text-align: center;
}
/* search */
.search{
    text-decoration: none;
}


/* Dashboard */
.card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.806);
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
#layout {
    display: flex;
}

#layout aside {

    height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 2 !important; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
    width: 240px;
    background-color: #023047;
    padding: 1rem;
    position: fixed;
    height: 100%;
    z-index: 1;
}
main{
    flex: 0;
    margin-left: 160px;
}

#layout aside > a {
    display: block;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}
.into-row h4,span{
    color: #FFF !important;
}
.into-row h4{
    color: #fff;
}
#layout .user{
    text-decoration: none;
    font-weight: bold;
    margin-left: 250px;
    color: #023047;
}
#layout aside > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
#layout a.active{
    background-color: #011018;
    font-weight: bold;

}

#layout .content {
    flex: 1;
}

#layout header {
    z-index: 1;
    height: 80px;
    padding: 2rem 3rem;
    width: 100%;
    background-color: white;
    color: #000;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

}
.intro-title{
    flex: 33.33%;
    margin-left: 10px;
    margin-top: 10px;
}


/*Icons*/
.bi{
    padding-right: 15px;
    margin-left: 10px;
    
}
.fa{
    padding-right:15px ;
    margin-left: 10px;
}

/* animation */
.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.forget{
    color: #FFF;
   
}
.error{
    color: rgb(247, 96, 96);
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}