*{
    box-sizing: border-box;
}
.body-image{
    background-color: rgba(0, 0, 0, 0.951);
    background-image: url('../assets/background-image.jpg');
    /* Add the blur effect */
    
  
  /* Full height */
  /* height: 100%;  */
  
  /* Center and scale the image nicely */
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
    
   
    
}
.login-signup-form{
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.333);
}