.profile{
    clip-path: circle();
    size: 200px;
  
}
.pp{
 
    clip-path: circle();
    height: 70px;
    
}

.user{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.border{
   margin-right: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.806);
    border-radius: 50%;
   
}

.label{
    color: rgb(86, 86, 86);
}
main{
    
    margin-left: 300px;
    margin-top: 150px;
}