.main {
  padding: 16px;
  margin-top: 10px; 
  left: 0;
  height: 1500px; 
}
.main #userdata{
  margin-top: 90px;
}
#guest .search {
  margin-top: 70px; 
  margin-right: 190px;
  align-content: center;
}


#guest header {
  z-index: 1;
  margin-top: 0px;
  height: 80px;
  padding: 2rem 3rem;
  width: 100%;
  background-color: #023047;
  color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
}
#guest .header a .card{
  display: block;
  width: 100% !important;
  box-sizing: border-box;
}
#guest  a {
  color: #fff;
  text-decoration: none;
  padding-right: 30px;
  /* display: block; */
}

#guest nav a:hover {
  color: #3700ff;
  text-decoration: underline;
  font-weight: bold;
}

.logo {
  padding-top: 10px;
  width: 100px;
  margin-top: 20px;
}
