body{
    background-color: rgb(234, 232, 232);
}
.card{
    text-decoration: none;
    align-items: center;
}
.link{
    margin-top: 100px;
    text-decoration: none;
}
.header{
    margin-top: 100px;
}
.college{
    margin-left: 100px;
}
.info{
    display: inline-flex;
    flex-wrap: wrap;
    
}
.info p{
    margin-right: 10px;
}
.link h2{
    color: #000;
}
.content1{
    border-width: 2px;
}
.content2{
    margin-top: 40px;
    border-color: #000;
    border-width: 10px;
}
#nav-photo img{
    width: 50%;
    padding: 10px;
}